.features-section {
    text-align: center;
    margin: 100px auto 0;
    max-width: 1200px;
    padding: 0 20px;
}

.features-title {
    font-family: 'TT Norms', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.features-subtitle {
    font-family: 'TT Norms', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
}

