.how-it-works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;

  @media (max-width: 767px) {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.how-it-works-title {
  font-family: 'TT Norms', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  text-transform: uppercase;
  color: #272727;
  margin: 0 0 20px 0;

  @media (max-width: 767px) {
    display: inline;
    margin: 0;
    line-height: 110%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
  }
}

.how-it-works-subtitle {
  font-family: 'TT Norms', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  color: #272727;
  margin: 0 0 30px 0;
  text-align: center;

  @media (max-width: 767px) {
    display: inline;
    margin: 0;
    line-height: 110%;
    text-transform: uppercase;
    font-size: 28px;
  }
}

.how-it-works-image-container {
  position: relative;
  max-width: 100%;
  margin: 20px 0 0 0;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 767px) {
    margin: 30px 20px 50px 20px;
    border-radius: 20px;
    overflow: hidden;
  }
}

.how-it-works-image {
  display: block;
  width: 100%;
  height: auto;
}

.how-it-works-image--desktop {
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.how-it-works-image--mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    height: auto;
  }
}

.how-it-works-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;

  @media (max-width: 767px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.how-it-works-button img {
  width: 68px;
  height: auto;
  display: block;

  @media (max-width: 767px) {
    width: 68px;
    height: auto;
  }
}
