.comparison-section {
    text-align: center;
    padding: 100px 0;
}

.comparison-title {
    font-family: 'TT Norms', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    text-transform: uppercase;
    color: #272727;
    margin: 0 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.comparison-title .separator-text {
    font-family: 'TT Norms', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    padding: 0 5px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: row-reverse;
}

.photo-item {
    width: 870px;
    height: 488px;
    object-fit: cover;
}
