.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    gap: 323px;
}

.stats-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0;
}

.stats-column:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -161.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 250px;
    background-color: #C08769;
}

.stats-number {
    font-family: 'TT Norms', sans-serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.stats-text {
    font-family: 'TT Norms', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    margin: 40px 0 0;
}
