.cookie-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cookie-modal__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.cookie-modal__content {
  position: relative;
  max-width: 600px;
  width: 90%;
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 24px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  font-family: 'TT Norms', system-ui, TTNorms, sans-serif;
  z-index: 1001;
}

.cookie-modal__text {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #272727;
  text-align: justify;   /* выравнивание текста по ширине */
  hyphens: auto;         /* перенос слов (по возможности) */
}

.cookie-modal__link {
  color: #272727;
  text-decoration: underline;
}

.cookie-modal__link:hover {
  text-decoration: none;
}

.cookie-modal__button {
  display: inline-block;
  min-width: 160px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #C08769;
  color: #ffffff;
}

.cookie-modal__button:active {
  transform: translateY(1px);
}

/* Класс, который прячет модалку */
.cookie-modal--hidden {
  display: none;
}
